{% extends "base.html" %}
{% from 'form_macro.html' import displayField %}

{% block title %}Account{% endblock %}

{% block content %}
<h1>Account Information</h1>
<h2>User ID: {{ current_user.id }}</h2>
<h2>Email: {{ current_user.email }}</h2>

<form action="{{ url_for('account')}}", method="POST" >
    <label>First Name: {{ current_user.fname }}</label>
    {{ displayField(form.fname, 'First Name')}}
    <label>Last Name: {{ current_user.lname }}</label>
    {{ displayField(form.lname, 'Last Name')}}
    <label>Position: {{ current_user.position }}</label>
    {{ displayField(form.position, 'Job Role')}}
    {{ displayField(form.password, 'Password')}}
    {{ displayField(form.cfm_password, 'Retype Password')}}
    <div>
        {{ form.submit_button(class_="nhsuk-button") }}
    </div>
    

    {{ form.csrf_token }}
</form>


{% if current_user.is_admin%}
<h2>Admin Status: {{ current_user.is_admin }}</h2>
<button class="nhsuk-button" type="button">Revoke admin status</button>
{% endif %}


{% endblock %}
