{% extends "base.html" %}

{% block title %}Admin all user view{% endblock %}

{% block content %}
<h1>All Registered Users</h1>
<p>Be aware making a user an admin gives them full access to all the functionality of this application, use this tool
  with care. <b>You won't find your details in this section, if you wish to delete your account use the <a href="/account/{{current_user.id}}">account</a> section</b>.</p>
<table class="nhsuk-table">
  <caption class="nhsuk-table__caption">All registered users (Admin view only)</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        ID
      </th>
      <th role="columnheader" class="" scope="col">
        Email
      </th>
      <th role="columnheader" class="" scope="col">
        First Name
      </th>
      <th role="columnheader" class="" scope="col">
        Last Name
      </th>
      <th role="columnheader" class="" scope="col">
        Position
      </th>
      <th role="columnheader" class="" scope="col">
        Action
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for user in all_users %}
    {% if current_user != user %}
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ user.id }}</td>
      <td class="nhsuk-table__cell ">{{ user.email }}</td>
      <td class="nhsuk-table__cell ">{{ user.fname }}</td>
      <td class="nhsuk-table__cell ">{{ user.lname}}</td>
      <td class="nhsuk-table__cell ">{{ user.position }}</td>
      <td class="nhsuk-table__cell ">
        {% if user.is_admin == false %}
        <a class="nhsuk-button" href="/admin/{{ user.id }}">Make Admin</a>
        {% elif user.is_admin == true %}
        <a class="nhsuk-button" href="/standard/{{ user.id }}">Make Standard</a>
        {% endif %}
        <a class="nhsuk-button nhsuk-button--secondary" href="/admin-delete-account/{{ user.id }}">Delete Account</a>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<form action="/dashboard">
  <input class="nhsuk-button" type="submit" value="Back to dashboard" />
</form>
{% endblock %}
