{% extends "base.html" %}

{% block title %}All Assets{% endblock %}

{% block content %}

<h1>All assets</h1>
<table class="nhsuk-table">
    <caption class="nhsuk-table__caption">All assets company wide</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
            ID
        </th>
        <th role="columnheader" class="" scope="col">
            Owner ID
        </th>
        <th role="columnheader" class="" scope="col">
            Asset Name
        </th>
        <th role="columnheader" class="" scope="col">
            Asset Type
        </th>
        <th role="columnheader" class="" scope="col">
            Serial Number
        </th>  
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        {% for asset in assets %}
      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{{ asset.id }}</td>
        <td class="nhsuk-table__cell ">{{ asset.owner_id }}</td>
        <td class="nhsuk-table__cell ">{{ asset.asset_name }}</td>
        <td class="nhsuk-table__cell ">{{ asset.asset_type }}</td>
        <td class="nhsuk-table__cell ">{{ asset.serial_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
