{% extends "base.html" %}

{% block title %}Available Assets{% endblock %}

{% block content %}

<h1>Available Assets</h1>
<table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Available Assets</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
            ID
        </th>
        <th role="columnheader" class="" scope="col">
            Owner ID
        </th>
        <th role="columnheader" class="" scope="col">
            Asset Name
        </th>
        <th role="columnheader" class="" scope="col">
            Asset Type
        </th>
        <th role="columnheader" class="" scope="col">
            Serial Number
        </th>
        <th role="columnheader" class="" scope="col">
          Action
      </th>   
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        {% for asset in assets %}
      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{{ asset.id }}</td>
        <td class="nhsuk-table__cell ">{{ asset.owner_id }}</td>
        <td class="nhsuk-table__cell ">{{ asset.asset_name }}</td>
        <td class="nhsuk-table__cell ">{{ asset.asset_type }}</td>
        <td class="nhsuk-table__cell ">{{ asset.serial_number }}</td>
        <td class="nhsuk-table__cell "><a class="nhsuk-button nhsuk-button--secondary" href="/assign/{{ asset.id }}">Assign</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <section class="nhsuk-section">
      <form action="/dashboard">
          <input class="nhsuk-button" type="submit" value="Back to dashboard" />
      </form>
  </section>

{% endblock %}
