{% extends "base.html" %}

{% block title %}Current Assets{% endblock %}

{% block content %}
<h1>Current assets</h1>
<table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Assets assigned to you</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
            ID
        </th>
        <th role="columnheader" class="" scope="col">
            Owner ID
        </th>
        <th role="columnheader" class="" scope="col">
            Asset Name
        </th>
        <th role="columnheader" class="" scope="col">
            Asset Type
        </th>
        <th role="columnheader" class="" scope="col">
            Serial Number
        </th>
        <th role="columnheader" class="" scope="col">
            Actions
        </th>   
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        {% for asset in assets %}
        {% if asset.owner_id == current_user.id %}
      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{{ asset.id }}</td>
        <td class="nhsuk-table__cell ">{{ asset.owner_id }}</td>
        <td class="nhsuk-table__cell ">{{ asset.asset_name }}</td>
        <td class="nhsuk-table__cell ">{{ asset.asset_type }}</td>
        <td class="nhsuk-table__cell ">{{ asset.serial_number }}</td>
        <td class="nhsuk-table__cell "><button>{{ form.unassign_button }}</button></td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <form action="/dashboard">
    <input class="nhsuk-button" type="submit" value="Back to dashboard" />
    </form>

    <form method="post" action="/dashboard/current-assets">
        <input class="nhsuk-button nhsuk-button--secondary" type="submit" value="Unassign all assets">
    </form>
  
{% endblock %}
