{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %} 
<h1>Dashboard</h1>
<ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/dashboard/current-assets">My current assets</a>
          </h2>
          <p class="nhsuk-card__description">Your assets that are currently assigned to you</p>
        </div>
      </div>
  
    </li>
    {% if current_user.is_authenticated  and current_user.is_admin == True %}
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/dashboard/all-assets">Company wide asset register</a>
          </h2>
          <p class="nhsuk-card__description">A company wide register that contains all assets within NHS Digital</p>
        </div>
      </div>
  
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/dashboard/admin-assets">Admin add assets</a>
          </h2>
          <p class="nhsuk-card__description">Add, delete, update and maintain assets</p>
        </div>
      </div>
    </li>
    {% endif %}
  </ul>
{% endblock %}
