{% extends "base.html" %}

{% block content %} 
<h1>Dashboard</h1>
<ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="#">My current assets</a>
          </h2>
          <p class="nhsuk-card__description">A quick guide for people who have care and support needs and their carers</p>
        </div>
      </div>
  
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="#">Available assets</a>
          </h2>
          <p class="nhsuk-card__description">Includes helplines, needs assessments, advocacy and reporting abuse</p>
        </div>
      </div>
  
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="#">Company wide asset register</a>
          </h2>
          <p class="nhsuk-card__description">How to pay for care and support, and where you can get help with costs</p>
        </div>
      </div>
  
    </li>
  </ul>
{% endblock %}
